[submodule "applications/smartswitch/spark_http_client"]
	path = applications/smartswitch/spark_http_client
	url = https://github.com/phhe/spark_http_client
	fetchRecurseSubmodules = true
	update = checkout
